body {

    color:white;
    background-color:black;
    margin: 0px
}

header {
    font-size: 32px;
    border-bottom: solid 1px rgb(42, 122, 228);
    padding: 20px;
    color: rgb(42, 122, 228);
}

section {

    background-color: rgb(23, 23, 49, 1);
    padding-bottom: 80px;  
    padding-top: 80px
    display: flex
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%
}

img {
    height: 350px
}

.categoria-vídeos {
    display: flex;
}